:root {
  --max-width: 1440px;
  --button-border-radius: 14px;

  --text-heading-max: 4.25rem;//68px;
  --text-heading-big: 3.375rem;//54px;
  --text-heading-medium: 3rem;//48px;
  --text-heading-main: 1.75rem;//28px;
  --text-heading-small: 1.5rem;//24px;
  --text-heading-supersmall: 1.25rem;//20px;

  --text-content-max: 1.75rem;//28px;
  --text-content-main: 1.3125rem;//21px;
  --text-content-medium: 1.125rem;//18px;
  --text-content-small: 1rem;

  --text-button-main: 1.125rem;
  --text-button-small: 1rem;

  --text-color-heading: var(--secondary-color);
  --text-color-main: #6E7191;
  --border-color: #EFF0F6;
  --primary-color: #FFFFFF;
  --secondary-color: #211F54;
  --background-base: var(--primary-color);
  --background-additional: #F7F9FC;
  --button-primary-color: #0075FF;
  --button-secondary-color: var(--primary-color);

  --padding-base: 7.5vw;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; 

}

html,
body {
  max-width: 100vw;
}

html{
   font-size: 14px;
}

@media (max-width: 850px) {
  html {
      font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
      font-size: 10px;
  }
}

body {
  background: var(--background-base);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-heading);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: var(--text-heading-max);
}

h2 {
  font-size: var(--text-heading-big);
}

h3 {
  font-size: var(--text-heading-medium);
}

h4 {
  font-size: var(--text-heading-main);
}

h5 {
  font-size: var(--text-heading-small);
}
h6{
  font-size: var(--text-heading-supersmall);
}

.text {
  color: var(--text-color-main);
  font-weight: 400;  
  line-height: 1.875rem;
}

.text_size_m{
  font-size: var(--text-content-main);
}

.text_size_s{
  font-size: var(--text-content-medium);
}
.text_marging_left{
  margin-left: auto;
}

.header {
  display: flex;
  height: 7.5vw;  
  max-height: 110px;
  align-items: center;
  padding: 0 var(--padding-base);  
  position: fixed;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.header__nav {
  display: flex;
  margin-left: 40px;
}

.header__nav_list {
  display: flex;  
}

.header__nav_item {
  margin-right: 22px;
  font-size: var(--text-content-medium);
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 1.875rem;
}

.main__section {
  padding: var(--padding-base);
}

#home{
  padding-right: 0;
}

.main__hr {
  border: 0;
  background: #DCDDEB;
  height: 1px;
  margin: 0 var(--padding-base);
}

.button {
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-align: center;
}

.button_primary {
  background-color: var(--button-primary-color);
  color: var(--primary-color);
  border: none;
}

.button_secondary {
  background-color: var(--button-secondary-color);
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 10px #14142B0A;
}

.container{
  display: flex;
  align-items: center;
}

.span_color_blue{
  color:#0075FF;
}
