//my css
.header__button{    
    width: 174px;
    height: 54px;
    font-size: var(--text-small);
}

.home__button{
    width: 217px;
    height: 72px;
    font-size: var(--text-lower-main);
}

.main {
  display: flex;
  flex-direction: column;    
}

.main__home_top{
  display: flex;
  justify-content: flex-end;
}
.main__home_frame{
  margin-left: 110px;
  margin-top: 230px;
}
.main__home_text_header{
  font-size: var(--text-heading-max);
  max-width: 518px;
  margin-bottom: 22px;
}
.main__home_text{
  font-size: var(--text-main);
  margin-bottom: 34px;
}
.main__home_call{
  display: flex;
  align-items: center;
  .main__home_call_img{
    margin:0 18px 0 28px;
  }
  p{
    margin-bottom: 4px;
  }
}  



//from tamplate


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
